# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDEs and Editors
.vscode/
.vs/
*.user
*.suo
*.sln
*.vcxproj
*.filters
CMakeCache.txt
CMakeFiles/
CMakeSettings.json
CMakeUserPresets.json
build/
bin/
out/
x64/
x86/
Debug/
Release/

# Temporary files
*~
*.swp
*.tmp
